/**
 * videojs.ads.css
 */

/* Ad playback */
.vjs-ad-playing.vjs-ad-playing .vjs-progress-control {
  pointer-events: none;
}
.vjs-ad-playing.vjs-ad-playing .vjs-play-progress {
  background-color: #ffe400;
}

/* Ad loading */
.vjs-ad-playing.vjs-ad-loading .vjs-loading-spinner {
  display: block;
}

/*.vjs-ads-duration {
	color: #fff;
  font-size: 14px;
  position: absolute;
  background-color: rgba(255, 228, 0, .9);
  border-radius: 3px;
  right: 10px;
  top: 10px;
  padding: 7px 20px;
}*/

.VPAIDclickableLayer {
  position: absolute;
  width: 780px;
  height: 440px;
  top: 30px;
  left: 30px;
  z-index: 99999;
  cursor: pointer;

  background: transparent;
}

.VPAIDmuteBtn, .VPAIDtime, .VPAIDskipBtn, .vjs-ads-duration {
  color: #fff;
  background: rgba(51,51,51,.8);
  position: absolute;
  top: 20px;
  padding: 10px 25px;
  font-size: 12px;
}

.vjs-ads-duration {
  right: 0;
}

.VPAIDskipBtn {
  top: auto;
  right: 0;
  bottom: 80px;
  display: none;
}

.VPAIDmuteBtn {
  left: 0;
}

.VPAIDtime {
  right: 0;
}

/**/

.vjs-overlay-mixer {
  position: absolute;
  left: 20px;
  bottom: 55px;
  overflow: hidden;
  cursor: pointer;
  z-index: 9999;
}

.vjs-overlay-is-scalable {
  top: auto;
  left: 10px;
  right: 10px;
}

.vjs-overlay-mixer > iframe {
  border: 0px;
  height: 100%;
  width: 100%;
}

.vjs-overlay-clickable-layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  overflow: hidden;
}

.vjs-overlay-mixer-close {
  color: #fff;
  background: rgba(51,51,51,.8);
  position: absolute;
  top: 0;
  right: 0;
  font-size: 10px;
  padding: 2px 5px;
  display: block;
  font-style: normal;
  z-index: 9999;
}