/**
 * videojs.ads.css
 */

/* Ad playback */
.vjs-ad-playing.vjs-ad-playing .vjs-progress-control {
  pointer-events: none;
}
.vjs-ad-playing.vjs-ad-playing .vjs-play-progress {
  background-color: #ffe400;
}

/* Ad loading */
.vjs-ad-playing.vjs-ad-loading .vjs-loading-spinner {
  display: block;
}

.vjs-ads-duration {
	color: #fff;
    font-size: 14px;
    position: absolute;
    background-color: rgba(255, 228, 0, .9);
    border-radius: 3px;
    right: 10px;
    top: 10px;
    padding: 7px 20px;
}

.VPAIDclickableLayer {
  position: absolute;
  width: 780px;
  height: 440px;
  top: 30px;
  left: 30px;
  z-index: 99999;
  cursor: pointer;

  background: transparent;
}

.VPAIDskipBtn {
  color: #fff;
  position: absolute;
  right: 0;
  bottom: 80px;
  background: #333;
  padding: 10px 25px;
  display: none;
}

.VPAIDmuteBtn {
  color: #fff;
  background: #333;
  position: absolute;
  top: 20px;
  right: 0;
  padding: 10px 25px;
}

.VPAIDtime {
  color: #fff;
  background: #333;
  position: absolute;
  top: 20px;
  left: 0;
  padding: 10px 25px;
}

.VPAIDskipBtn, .VPAIDmuteBtn, .VPAIDtime {
  font-size: 12px;
}
